<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/> <!--320-->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular.js"></script>
    <script src="/static/app.js"></script>
    <link rel="stylesheet" href="/static/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>

</head>
<body>
<div ng-app="robotApp" class="container">

    <form name="rc" action="#" ng-controller="RobotController">

        <img data-ng-src="{{data.imageUrl}}" class="camera">
        <div class="control-counter">{{data.n_controllers}}<br/><small>controllers</small></div>
        <div class="controls">
            <span ng-repeat="i in directions" ng-click="set_direction(i)" class="dir-button counter-{{ min(data.total_counts[i],9) }} dir-{{i}}" ng-class="{selected: data.selected == i, direction: data.direction == i && data.magnitude != 0 }">⬆</span>
            <span ng-click="set_direction(null)" class="dir-button dir-stop counter-{{ min(data.total_counts[null],9) }}" ng-class="{selected: data.selected == null, direction: data.magnitude == 0 }">✖</span>
        </div>


    </form>

</div>
</body>


</html>